In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('expenses.csv')
df

       Date  Amount         Item Category  Split
0    5-4-24      25       maggie     food      2
1    5-4-24      60    mogu-mogu     food      2
2    5-4-24      40        ocean     food      2
3    5-4-24    1224    brindavan  utility      1
4    5-4-24     117      flowers  utility      1
5    5-4-24      27         curd  utility      1
6   ﻿6-4-24      90  honeychilli     food      2
7    6-4-24      60        ocean     food      2
8   ﻿6-4-24     203   vegetables  utility      1
9    6-4-24     180        pasta  utility      1
10  ﻿7-4-24     166     tamarind  utility      1
11   7-4-24      50      haircut  utility      1
12   7-4-24     250       petrol  utility      2
13   7-4-24     180   stationery  utility      1
14   7-4-24      26         vada  utility      1

categorical

In [2]:
d = df[["Category", "Amount"]].groupby("Category").sum()
d

          Amount
Category
food         275
utility     2423

date wise

In [4]:
d = df[["Date", "Amount"]].groupby("Date").sum()
d

         Amount
Date
5-4-24     1493
6-4-24      240
7-4-24      506
﻿6-4-24     293
﻿7-4-24     166

owed

In [6]:
d = (df["Amount"] - (df["Amount"] / df["Split"])).sum()
d

262.5