In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv("expenses.csv")

try:
    refill_index = df[df["Date"] == "refiil"].index[-1]
    df = df.loc[refill_index + 1 :]
except:
    pass
df

          Date  Amount         Item Category  Split  Not Me
0   2024-04-04      25       maggie     food      2       0
1   2024-04-05      60    mogu-mogu     food      2       0
2   2024-04-05      40        ocean     food      2       0
3   2024-04-05    1224    brindavan  utility      1       0
4   2024-04-05     117      flowers  utility      1       0
5   2024-04-05      27         curd  utility      1       0
6   2024-04-06      90  honeychilli     food      2       0
7   2024-04-06      60        ocean     food      2       0
8   2024-04-06     203   vegetables  utility      1       0
9   2024-04-06     180        pasta  utility      1       0
10  2024-04-07     166     tamarind  utility      1       0
11  2024-04-07      50      haircut  utility      1       0
12  2024-04-07     250       petrol   travel      1       0
13  2024-04-07     180   stationery  utility      1       0
14  2024-04-07      26         vada  utility      1       0
15  2024-04-08      25          tea     food      2       1
16  2024-04-08    1000      advance       me      3       1
17  2024-04-09     180         cake     food      2       0
18  2024-04-10      42         auto   travel      1       0
19  2024-04-10      45    chocolate     food      1       0
20  2024-04-10      70            m     food      1       1
21  2024-04-12     130      flowers  utility      1       0
22  2024-04-12      50      brownie     food      2       0
23  2024-04-12      10        rasna     food      2       0
24  2024-04-14     230          tea     food      2       0
25  2024-04-15      20        juice     food      2       0
26  2024-04-15      40         oreo     food      2       0
27  2024-04-15     150     recharge  utility      1       0
28  2024-04-16      20          tea     food      1       1
29  2024-04-16      25       maggie     food      2       0
30  2024-04-16     187   vegetables  utility      1       0
31  2024-04-16      81   vegetables  utility      1       0
32  2024-04-16      98   vegetables  utility      1       0
33  2024-04-17      70    mogu-mogu     food      2       0
34  2024-04-17      20     fruitpop     food      1       1
35  2024-04-18      20     fruitpop     food      1       1
36  2024-04-18      70   oreo-shake     food      2       0
37  2024-04-18      60      sabeena  utility      1       0

categorical

In [9]:
d = df[["Category", "Amount", "Split", "Not Me"]]
d = d.drop(d[d["Not Me"] == 1].index)
d["Amount"] = d["Amount"] / d["Split"]
d.drop("Split", axis=1, inplace=True)
d = d.groupby("Category").sum()
d

          Amount  Not Me
Category
food       530.0       0
travel     292.0       0
utility   2879.0       0

date wise

In [10]:
d = df[["Date", "Amount"]].groupby("Date").sum()
d

            Amount
Date
2024-04-04      25
2024-04-05    1468
2024-04-06     533
2024-04-07     672
2024-04-08    1025
2024-04-09     180
2024-04-10     157
2024-04-12     190
2024-04-14     230
2024-04-15     210
2024-04-16     411
2024-04-17      90
2024-04-18     150

owed

In [13]:
d = df[["Amount", "Split", "Not Me"]]
s = d[d["Not Me"] == 1]
d = d.drop(s.index)
sum1 = s["Amount"].sum()
sum2 = (d["Amount"] - (d["Amount"] / d["Split"])).sum()
print(sum1 + sum2)

1640.0